{
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }],
    ["transform-imports", {
      "lodash": {
        "transform": "antd/${member}",
        "preventFullImport": true
      }
    }]
  ]
}