/* Paddings, Margins */

$space-basic: 5px;

$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-s-medium: 25px;
$space-medium: 30px;
$space-x-medium: 35px;
$space-large: 75px;
$space-x-large: 100px;

/* Font */

$font-size: 16px;

/* Screen displays */

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;
$break-xx-large: 1600px;

/* Colors */

$primary: #d61889;
$secondary: #f89020;
$primary-1: #641467;
$primary-2: #49135f;
$gray: #f0f2f5;
