.one-side-layout {
  display: flex !important;
  flex-direction: row !important;
  min-height: 100vh !important;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  main.black-side {
    color: #f0f2f5;
    text-align: center;
    width: 40%;
    padding: 35px;
    background: #001529;

    h1 {
      color: #d61889;
    }

    span {
      font-size: 30px;
      color: #f0f2f5;
    }
  }

  main.light-side {
    width: 60%;
    background: #f0f2f5;
  }
}

@media (max-width: 960px) {
  main.black-side {
    display: none;
  }

  main.light-side {
    width: 100%;
  }
}
